html {
    font-family: 'Arial', sans-serif;
    background-color: #3809d2;
}

body{
	width: 550px;
	background-color:#03c742;
	border: 5px solid black;
	padding: 10px 10px 10px 10px;
    margin: auto;

}

#header_color1{
	color: #0074e5;
}

#header_color2{
	color: #ff0404;
}

#header_color3{
	color: #f2b818;
}

#header_color4{
	color: #046f2f;
}

img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 15px ridge gold;
}