<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Conditional Template</title>
</head>
<body>
	{{if .IsYou}}
	<h1>Success</h1>
	{{else}}
	<h1>Failure</h1>
	{{end}}
</body>
</html>